# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Configuraciones sensibles
firebase-creds.json
.env
config.py
PyWhatKit_DB.txt

# Entornos virtuales
venv/
env/
ENV/

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de caché y logs
.cache/
.pytest_cache/
logs/
*.log
*.sqlite3
.coverage
htmlcov/